/* /Components/DialogBox.razor.rz.scp.css */
.module[b-9xu4w30pfa] {
    position: absolute;
    background: rgba(128, 128, 128, 0.726);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.module .content[b-9xu4w30pfa] {
    background: white;
    border-radius: 0.5rem;
    padding:0.5rem;
    min-width: 20rem;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visable[b-9xu4w30pfa] {
    visibility: visible;
}
.hidden[b-9xu4w30pfa] {
    visibility: collapse;
}
/* /Components/Map.razor.rz.scp.css */
main[b-v6wvnqmlap] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button[b-v6wvnqmlap] {
    border: none;
    color: white;
    font-weight: 1000;
    width: 100%;
}

button.count-down[b-v6wvnqmlap] {
    background: linear-gradient(45deg, #40baca, #1db1a4);
}

button.start[b-v6wvnqmlap] {
    background: linear-gradient(45deg, #40ca7e, #3cff7d);
}

button.start:hover[b-v6wvnqmlap] {
    background: rgb(16, 114, 16);
}

button.stop[b-v6wvnqmlap] {
    background: linear-gradient(45deg, #f7885c, #eb1a1a);
}

button.stop:hover[b-v6wvnqmlap] {
    background: rgb(228, 12, 12);
}

#map[b-v6wvnqmlap] {
    height: 40vh;
    width: 100%;
}

.progress-bar-container[b-v6wvnqmlap] {
    display: grid;
}

.progress-bar-container>*[b-v6wvnqmlap] {
    grid-row: 1;
    grid-column: 1;
}

.progress-bar[b-v6wvnqmlap] {
    position: absolute;
    background: #b0efff;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.progress-bar-container div[b-v6wvnqmlap] {
    height: 3rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.progress-bar-container p[b-v6wvnqmlap] {
    margin: 0;
    color: #00cebd;
    z-index: 1;
}

.info-container[b-v6wvnqmlap] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    background: linear-gradient(45deg, #40ca7e, #3cd8ff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 1000;
    font-size: 2rem;
    width: 100%;
}

.timer-container[b-v6wvnqmlap] {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
}

.timer-container p[b-v6wvnqmlap] {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.timer-large[b-v6wvnqmlap] {
    font-size: 5rem;
}

.timer-small[b-v6wvnqmlap] {
    width: 4rem;
    font-size: 2rem;
}

.horizontal-container[b-v6wvnqmlap] {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.horizontal-container p[b-v6wvnqmlap] {
    margin: 0;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-na6g0zj5za] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-na6g0zj5za] {
    flex: 1;
}

.sidebar[b-na6g0zj5za] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-na6g0zj5za] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-na6g0zj5za]  a, .top-row[b-na6g0zj5za]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-na6g0zj5za]  a:hover, .top-row[b-na6g0zj5za]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-na6g0zj5za]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-na6g0zj5za] {
        justify-content: space-between;
    }

    .top-row[b-na6g0zj5za]  a, .top-row[b-na6g0zj5za]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-na6g0zj5za] {
        flex-direction: row;
    }

    .sidebar[b-na6g0zj5za] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-na6g0zj5za] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-na6g0zj5za]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-na6g0zj5za], article[b-na6g0zj5za] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/Home.razor.rz.scp.css */
.title[b-raqg60pauk] {
    text-align: center;
    margin: 0;
    font-size: 3rem;
}
/* /Pages/RunMap.razor.rz.scp.css */
