.module[b-9xu4w30pfa] {
    position: absolute;
    background: rgba(128, 128, 128, 0.726);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.module .content[b-9xu4w30pfa] {
    background: white;
    border-radius: 0.5rem;
    padding:0.5rem;
    min-width: 20rem;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visable[b-9xu4w30pfa] {
    visibility: visible;
}
.hidden[b-9xu4w30pfa] {
    visibility: collapse;
}