main[b-v6wvnqmlap] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button[b-v6wvnqmlap] {
    border: none;
    color: white;
    font-weight: 1000;
    width: 100%;
}

button.count-down[b-v6wvnqmlap] {
    background: linear-gradient(45deg, #40baca, #1db1a4);
}

button.start[b-v6wvnqmlap] {
    background: linear-gradient(45deg, #40ca7e, #3cff7d);
}

button.start:hover[b-v6wvnqmlap] {
    background: rgb(16, 114, 16);
}

button.stop[b-v6wvnqmlap] {
    background: linear-gradient(45deg, #f7885c, #eb1a1a);
}

button.stop:hover[b-v6wvnqmlap] {
    background: rgb(228, 12, 12);
}

#map[b-v6wvnqmlap] {
    height: 40vh;
    width: 100%;
}

.progress-bar-container[b-v6wvnqmlap] {
    display: grid;
    border-top: 2px solid #8fe4fa;
    border-bottom: 2px solid #87d4f3;
}

.progress-bar-container>*[b-v6wvnqmlap] {
    grid-row: 1;
    grid-column: 1;
}

.progress-bar[b-v6wvnqmlap] {
    position: absolute;
    background: linear-gradient(45deg, #a6e3ff, #94ece5);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.progress-bar-container div[b-v6wvnqmlap] {
    height: 3rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.progress-bar-container p[b-v6wvnqmlap] {
    margin: 0;
    background: linear-gradient(45deg, #27d4ff, #46c7e7);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 1;
}

.info-container[b-v6wvnqmlap] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    background: linear-gradient(45deg, #40ca7e, #3cd8ff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 1000;
    font-size: 2rem;
    width: 100%;
}

.timer-container[b-v6wvnqmlap] {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
}

.timer-container p[b-v6wvnqmlap] {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.timer-large[b-v6wvnqmlap] {
    font-size: 5rem;
}

.timer-small[b-v6wvnqmlap] {
    width: 4rem;
    font-size: 2rem;
}

.horizontal-container[b-v6wvnqmlap] {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.horizontal-container p[b-v6wvnqmlap] {
    margin: 0;
}