.module {
    position: absolute;
    background: rgba(128, 128, 128, 0.726);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.module .content {
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    min-width: max-content;
    min-height: max-content;
}

.visable {
    visibility: visible;
}
.hidden {
    visibility: collapse;
}