main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    border: none;
    color: white;
    font-weight: 1000;
    width: 100%;
}
button.start {
    background: linear-gradient(45deg, #40ca7e, #3cff7d);
}
button.start:hover {
    background: rgb(16, 114, 16);
}

button.stop {
    background: linear-gradient(45deg, #f7885c, #eb1a1a);
}
button.stop:hover {
    background: rgb(228, 12, 12);
}

#map {
    height: 60vh;
    width: 100%;
}
.info-container {
    text-align: center;
    background: linear-gradient(45deg, #3d98ff, #a90dcf);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 1000;
    font-size: 2rem;
    width: 100%;
}
.timer-container {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
}
.timer-container p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.timer-large {
    font-size: 5rem;
}

.timer-small {
    width: 4rem;
    font-size: 2rem;
}

.horizontal-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}