main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: 1000;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
}
button.start {
    background: rgb(13, 194, 13);
}
button.start:hover {
    background: rgb(16, 114, 16);
}

button.stop {
    background: rgb(201, 22, 255);
}
button.stop:hover {
    background: rgb(178, 12, 228);
}

#map {
    height: 70vh;
    width: 100%;
}

.horizontal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
    width: 100%;
    background: rgb(0, 140, 255);
    padding-block: 0.5rem;
}

.horizontal-container p {
    margin: 0;
    color: white;
    font-weight: 1000;
    font-size: 2rem;
}
